
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Open Sans';
  font-size: 1em;
  background: #00C9A7;

}

h1 {
    text-align: center;
    
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%; /* You can adjust this value to increase or decrease the width */
  }
  
  .h5 {
    font-size: 1.7rem;
    /* Adjust the font size as needed */
    color: yellow;
  }



#quiz {
    text-indent: 10px;
    display:none;
}



#container {
    
    margin:auto;
    padding: 20px;
    background-color: #555;
    border:4px solid #B0E0E6;
    border-radius:10px;
    color: #FFFFFF;
    box-shadow: 5px 5px 5px #888;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    max-width: 80%;
   
    
}

.container > p{
    font-size: 32px;
}
.question1 {
    margin-left: 0rem;    /* ml-sm-1 */
    padding-left: 4rem;   /* pl-sm-4 */
    padding-top: 0;       /* pt-0 */
    margin-right: 0rem;   /* mr-1 */
   
}
.question{
    width: 75%;
   
}
.options{
    position: relative;
    padding-left: 20px;
   
    
}
#options label{
    display: block;
    margin-bottom: 15px;
    font-size: 23px;
    cursor: pointer;
}
.options input{
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.options input:checked ~ .checkmark:after {
    display: block;
}
.options .checkmark:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark{
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}
.btn-primary{
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}
.btn-primary:hover{
    background-color: #21bf73;
    border: 1px solid #21bf73;
}
.btn-success{
    padding: 5px 25px;
    background-color: #21bf73;
}
@media(max-width:576px){
    .question{
        width: 100%;
        word-spacing: 2px;
    } 
}
h2 {
    color: #007bff;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.bg-success {
    background-color: #28a745;
}

.bg-danger {
    background-color: #dc3545;
}

.text-white {
    color: #fff;
}